@charset "utf-8";
/* CSS Document */
body{
	font-family: Roboto, Sans-serif;
	margin: 0;
	padding: 0;
}

.navbar{
	width: 100%;
	background-color: #042928;
	height: 100px;
	padding: 0;
	margin: 0;
	position: fixed;
	position: relative;
}

.navbar > p{
	font-family: Pacifico;
	font-size: 3em;
	padding: 50px;
	padding: 0;
	margin: 0;
	color:white;
}

.navbar > .navbaritems > h3{
	display: inline-block;
	padding-right: 35px;
}
.navbar > .navbaritems{
	position:absolute;
}
